<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:flex;justify-content:center;align-items:center;margin-top: 100px;">
        <p style="font-size: 50px;">Upload Your File Here..</p>
    </div>
    {% if audio_path%}
        <div style="display:flex;justify-content:center;align-items:center;margin-top: 10px;">
            <a href="{{audio_path}}">{{audio_path}}</a>
        </div>
    {%endif%}
    <div id="fileform" style="display:flex;justify-content:center;align-items:center;margin-top: 10px;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Título:</h3>
            <input name="titulo"><br><br>
            <h3>Autores:</h3>
            <select name="aut" id="aut">
                {% for x in musicos %}
                    <option value="{{x.nome}}">{{x.nome}}</option>
                {% endfor %}
              </select>
            <input name="autores"><br><br>
            <label for="audio"><strong>Upload Audio: </strong></label>
            <input type="file" name="audio" accept="audio/*"><br><br>
            <label for="image"><strong>Upload Image: </strong></label>
            <input type="file" name="image" accept="image/jpeg"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>