{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width:700px">
    <div class="cadastro-container">
        <div class="cadastro-links">
            <h2 class="cadastro-title">Discos:</h2>
                {% for disco in discos%}
                <a href="{% url 'disco2' musica=0 disco=disco.id%}" class="cadastro-link">{{disco.titulo}}</a>
                {% endfor %}
            <h2 class="cadastro-title">Cadastros:</h2>
            <a href="{% url 'addMusico' %}" class="cadastro-link">Cadastro de Músico</a>
            <a href="{% url 'addMusica' %}" class="cadastro-link">Cadastro de Música</a>
            <a href="{% url 'addBanda' %}" class="cadastro-link">Cadastro de Banda</a>
            <a href="{% url 'addInstrumento' %}" class="cadastro-link">Cadastro de Instrumento</a>
            <a href="{% url 'addDisco' %}" class="cadastro-link">Cadastro de Disco</a>
            <a href="{% url 'addProdutor' %}" class="cadastro-link">Cadastro de Produtor</a>
        </div>
    </div>
</div>
{% endblock %}